@import "tailwindcss";
body {
  @apply bg-slate-50 text-slate-900;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

/* cursor para el icono del datepicker (webkit) */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
